{% extends 'base.html' %}

{% block title %}Acknowledgements | GloGen{% endblock %}

{% block content %}
  <style>
    #ack-pre{
      margin: 0;
    }
  </style>
<pre id='ack-pre'>
  ,ad8888ba,   88                 ,ad8888ba,                            
 d8"'    `"8b  88                d8"'    `"8b                           
d8'            88               d8'                                     
88             88   ,adPPYba,   88              ,adPPYba,  8b,dPPYba,   
88      88888  88  a8"     "8a  88      88888  a8P_____88  88P'   `"8a  
Y8,        88  88  8b       d8  Y8,        88  8PP"""""""  88       88  
 Y8a.    .a88  88  "8a,   ,a8"   Y8a.    .a88  "8b,   ,aa  88       88  
  `"Y88888P"   88   `"YbbdP"'     `"Y88888P"    `"Ybbd8"'  88       88  
                                                                        
Created in collaboration with the Defence Artifial Intelligence Centre
Developed by Christoph Treude, Nickolas Faulkner & Jack Ragless
Apache License 2021
</pre>
{% endblock %}